<!DOCTYPE html>
<html>
    <head>
       
    </head>
    <body>
        {{>header}}
        <h1>Welcome to weather page
        </h1>   
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id = "message"></p>
        {{>footer}}
    <script src="/js/app.js"></script>
    </body>
</html>